.checkout2 {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    margin-top: 5%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

h3 {
    color: #5bccf6;
}

.form_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    margin-left: 30%;
    row-gap: 15px;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -21.5%;
}

.fname>input {
    outline: 2px solid #5bccf6;
    border: none;
    min-height: 30px;
}

.lname>input {
    outline: 2px solid #5bccf6;
    border: none;
    min-height: 30px;
}

.delivery_address>input {
    outline: 2px solid #5bccf6;
    border: none;
    min-height: 90px;
    width: 60%;
}

.phn_number>input {
    outline: 2px solid #5bccf6;
    border: none;
    min-height: 30px;
}

.c2_button {
    margin-left: 5%;
}