.newProduct {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-top: 10px;
    width: 35%;
    padding: 10px;
    align-items: center;
}

.addProductItem {
    width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color:#5bccf6;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.addProductItem > input {
  padding: 10px;
  border: none;
  outline: none;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: #5bccf6;
  color: yellow;
  font-weight: 600;
  cursor: pointer;
}