.sell{
    display: flex;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.sell__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input__field > input{
    width: 100%;
    height: 12px;
    border: none;
    outline: none;
    /* border-radius: 10px; */
    padding:10px;
    font-size: 16px;
}
.input__field > textarea{
    width: 100%;
    height: 100px;
    border: none;
    /* border-radius: 10px; */
    outline: none;
    font-size: 16px;
    padding: 10px;
}

.input__field > h1{
    font-size: 16px;
    padding: 2px 8px;
    text-shadow: 0 1px 0 #fff;
}