/* FFFF00 */
.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff00;
}
.header__logo{
    width: 10%  ;
}
.header__logo > img{
    width: 200px;
}
.input__field{
    display: flex;
    background-color: white;
    align-items: center;
}
/* .input__field{
    width: 80%;
} */
#search{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
}
.search__bar{
    width: 50%;
    align-items: center;
}
.nav__links{
    width: 20%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav__links > span{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav__links > span > small{
    font-size: 30px;
}
.icon{
    font-size: 500px;
}